<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.fordfamilyeyecare.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>fordfamilyeyecare.com</MSDeployServiceURL>
    <DeployIisAppPath>FordFamilyEyeCare</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>Chevex</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EntityContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=codetunnel.cu6ayqqxh3fa.us-east-1.rds.amazonaws.com;Initial Catalog=FFEC;Persist Security Info=True;User ID=Chevex;Password=Xc3pt10n!;Application Name=EntityFramework" Name="Data Source=codetunnel.cu6ayqqxh3fa.us-east-1.rds.amazonaws.com;Initial Catalog=FFEC;Persist Security Info=True;User ID=Chevex;Password=Xc3pt10n!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=codetunnel.cu6ayqqxh3fa.us-east-1.rds.amazonaws.com;Initial Catalog=FFEC;User ID=Chevex;Password=Xc3pt10n!;Application Name=EntityFramework" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntityContainer_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Entities.FordFamilyEyeCare.csdl|res://*/Entities.FordFamilyEyeCare.ssdl|res://*/Entities.FordFamilyEyeCare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alexdb.cu6ayqqxh3fa.us-east-1.rds.amazonaws.com;initial catalog=FFEC;user id=Chevex;password=Xc3pt10n!;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=alexdb.cu6ayqqxh3fa.us-east-1.rds.amazonaws.com;Initial Catalog=FFEC;User ID=Chevex;Password=Xc3pt10n!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntityContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntityContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.FordFamilyEyeCare.csdl|res://*/Entities.FordFamilyEyeCare.ssdl|res://*/Entities.FordFamilyEyeCare.msl;provider=System.Data.SqlClient;provider connection string="Data Source=codetunnel.cu6ayqqxh3fa.us-east-1.rds.amazonaws.com;Initial Catalog=FFEC;Persist Security Info=True;User ID=Chevex;Password=Xc3pt10n!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>